# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [26]:
# variables are arbitrary names that hold some kind of value
# while the names dont matter, to make your code readable they should
# relate to whatever the value is
number = 6
print(number)

elephants = 10
print(elephants)

x = 15
y = 7
print(x,y)

6
10
15 7

##### Assigning float

In [31]:
#floats are decimals
#1.7
my_float = 3.14
print(my_float)
big_float = 123.097862
print(big_float)

3.14
123.097862

#### Performing Calculations on ints and floats

##### Addition

In [32]:
num1 = 7
num2 = 6

print(num1 + num2)

result = num1 + num2
print(result)

#adding float and int together
num3 = 3.14
print(num3 + num2)

result += 1 

print(result)

num3 = 15
num4 = 2

print(num3 - num4)

result = num3 - num4
print(result)

result -= num4
# result = result - num4
print(result)

13
13
9.14
14

##### Subtraction

In [33]:
num3 = 15
num4 = 12

print(num3 - num4)

result2 = num4 - num3
print(result2)

result2 -=4
print(result2)

3
-3
-7

##### Multiplication

In [42]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product*=2

print(product)

product = product * 2 # does the same this as line 7, setting the current variable equal the current value * 2
print(product)

product = int(product)
print(product)

47.0
94.0
188.0
188

In [7]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product = product * 2

print(product)

47.0
94.0

In [8]:
print(10 * 2)

20

##### Division

In [46]:
num1 = 45
num2 = 9

quotient = num1/num2

print(quotient)
quotient = int(quotient)
print(quotient)

quotient /=5

print(quotient)

5.0
5
1.0

In [10]:
num = '5'
num = int(num)
print(num)

15.0

##### Floor Division

In [47]:
# floor divison is a division operation that rounds the result down
#to the nearest whole number or integer which is less than or equal to the normal division result.
num1 = 5
num2 = 2

print(num1/num2)

print(num1//num2)

2.5
2

In [12]:
#round()
num = 5.6435
num2 = 5.4

x = round(num, 3)
print(x)
y = round(num2)
print(y)

2.5

##### Modulo

In [48]:
num = 7
num2 = 5

new_num = num % num2
print(new_num)

if num % 2 == 0:
    print("its even")
else:
    print("its odd")

2
its odd

1
1

##### Exponential

In [16]:
square = 5**2

print(square)


square**=2
print(square)

cubed = 3*3
print(cubed)

25
625

27
19683

### String Input-Output

##### String Assignment

In [49]:
name = "Ryan"

#empty string
new_string = ""

#double and single quotes work here
another_name = "Charmander"

##### print() <br>
<p>Don't forget about end=' '</p>

In [59]:
#help(print)
print(name)

print(name, another_name, 1, 2, "Hello", sep='***', end= "&&&")

Ryan

NameError: name 'another_name' is not defined

##### String Concatenation

In [57]:
# a string is immutable which means it cannot be altered in anyway
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

full_name += " " + "Jedi Master"
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

##### Type Conversion

In [22]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

string_num = "5"
print(type(string_num))
int_num = int(string_num)
print(type(int_num))

my_name = "Andres"

#name_int = int(my_name)
#print(name_int)

my_num = 10
my_float = 15.7

my_string_float = str(my_float)
print(type(my_string_float))

my_string

<class 'int'>
<class 'float'>

##### input()

In [ ]:
amount = float(input("How much does a pack of pokemon cards cost?"))

In [ ]:
total = amout * 4
print(total)

In [ ]:
#input will always reuturn a string type forever and ever and ever
name = input("What is your name? ")
print("Your name is," name)

quest = input("What is your quest? ")
print("Your quest is," name)

color = input("What is your favorite color? ")
print("Your favorite color is,", color)

In [ ]:
age = int(input("How old are you"))

print("You are", age)

##### format()

In [ ]:
age = int(input("How old are you"))
name = input("What is your name")

result_string = "You are {} years old, {} and you are getting wiser!".format(age,name)
print(result_string)

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [60]:
color = str(input("What color is your car? "))
year = int(input("What is the year of your car? "))
make = str(input("What make is your car? "))
model = str(input("What model is your car? "))

result_car = "Your cars color is {}, from {}, make {}, model {}, awesome car! ".format(color,year,make,model)
print(result_car)

What color is your car? gray
What is the year of your car? 2020
What make is your car? BMW
What model is your car? 330i
Your cars color is gray, from 2020, make BMW, model 330i, awesome car!

In [61]:
color = input("What is your car's color? ")
year = input("What is your car's year? ")
make = input("What is your car's make? ")
model = input("What is your car's model? ")

car_info = f"Your car's year make and model is: {color}, {year}, {make}, and {model}."
print(car_info)

What is your car's color? Gray
What is your car's year? 2020
What is your car's make? BMW
What is your car's model? 330i
Your car's year make and model is: Gray, 2020, BMW, and 330i.

### If Statements

In [62]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 65
#if
#elif
#else

if num2 == num1:
    print("True")

else:
    print("False")
    
if num1 > 5 and num2 < 100:
    print(True)
else:
    print(False)
    
if num1 == 5 or num2 > 50:
    print(True)
else:
    print(False)

False
True
True

##### 'is' keyword

In [ ]:
#use the "is" keyword checking for same/similar objects (location) not same value
num3 = 90

if num3 == 90:
    print("That'll do it!")
    
num4 = num3

if num4 is num3:
    print("yes")
    
# if num3 is 90:
#     print("That'll also do it") #This gives us a Syntax Warning, working with literal
num2 = 55
print(num2)
num3 = num2 # = 55
print(num3)
num4 = num3
print(num4)
num2 = num2 + 1
print(num2)
num5 = 100


user_age1 = int(input("How old are you?"))

user_age2 = int(input("How old are you?"))

# if num4 == num3:
#     print("SUPER DUPER")
# else:
#     print("That is not super duper")

if user_age1 == user_age2:
    print("Yay you graduate high school in the same year, mayne")
else:
    print("One of you is older")

##### 'in' keyword

In [64]:
#memberahip check to see if a value is inside of something else (usually an iterable)
#iterable is something we can iterate through and check character or value
character_name = "Boba Fett"
if "b" in char_name.lower():
    print("Excelent")
else:
    print("No B's here")
    
if "f" in "Mace Windu":
    print("We do not grant you the rank of master.")
else:
    print("ULLLTIMATE POWERRRR")

Excelent
ULLLTIMATE POWERRRR

##### 'not in' keyword'

In [65]:
name = "Mega Man"

if "r" not in name:
    print("argh")
else:
    print("radical")

argh

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [67]:
text = input("Something you want to say? ")

if "a" in text.lower():
    print("This has an a ")
else:
    print("This does not has an a ")

Something you want to say? hey
This does not has an a

In [ ]:
str = input("Enter you string: ")

if "p" in str.lower() or "p" in str.upper():
    print("Sting has p letter init")
else:
    print("String don't have p letter init")

In [ ]:
word = input("Give me a word: ")

if "p" in word.lower():
    print("Yep theres a (p) in that word!")
else:
    print("Damn, no (P) in this word.")

In [ ]:
user_input = input("Hey you, enter a string: ")

if 'p' in user_input:
    print("p was in there indeed")
elif 'P' in user_input:
    print("Big P in here")

## Using 'and'/'or' with If Statements

In [ ]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 15
num2 = 3
num3 = 10
num4 = 3

#if with and statement
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statements was false")
    
# if with or statement
if num1 > num2 or num3 == num4:
    print("True and False")
else:
    print("Both of the above statements are false")

### Elif Statements

In [63]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

name = input("What is your name? ")
if name == "Legolas":
    print("They're taking the hobbits to isengard")
elif name == "Gimli":
    print("I cannot make the jump, you have to toss me.")
elif name == "Aragorn":
    print("My friends, you bow to no one.")
else: 
    print("When is second breakfast!?")

What is your name? pippin
When is second breakfast!?

### Else Statements

In [ ]:
#This covers a situation not covered by the ifs and elifs
#if none of the above conditions are met, the else will be hit
name = input("What is your name? ")
if name == "Legolas":
    print("They're taking the hobbits to isengard")
elif name == "Gimli":
    print("I cannot make the jump, you have to toss me.")
elif name == "Aragorn":
    print("My friends, you bow to no one.")
elif name == "Gandalf":
    print("Fool of a Took")
elif name == "Aragorn":
    print("My friends, you bow to no one.")

### String Manipulation

#### .lstrip()

In [68]:
# our_string.lstrip()
#removes white space from left side of string
name = "                  Lando Calrissian"
print(name)
print(name.lstrip())

                  Lando Calrissian
Lando Calrissian

#### .rstrip()

In [69]:
# our_string.rstrip()
#removes whitespace from right side
name = "Luke Skywalker     "
print(name)
print(name.rstrip())

Luke Skywalker
Luke Skywalker

#### .strip()

In [70]:
# our.string.strip()
#remove whitespace. from all sides
name = "   Ash Ketchum    "
print(name)
print(name.strip())

   Ash Ketchum
Ash Ketchum

In [72]:
name = ",,,,,,rod kimble,"
print(name)

print(name.strip(","))

,,,,,,rod kimble,
rod kimble

#### .title()

In [73]:
#our_string.title()
name = "goofy goober"
print(name.title())

Goofy Goober

#### .upper()

In [74]:
# our_string.upper()
name = "Cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [75]:
# our_string.lower()
name = "Darth Vader"
print(name.lower())

name_lower = name.lower()
print(name_lower)

darth vader
darth vader

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [76]:
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print(f"Your name is {first_name.strip().title()} {last_name.strip().title()}.")

What is your first name?Andres
What is your last name?Rodriguez
Your name is Andres Rodriguez.

In [ ]:
name = input("Enter a name")
name2 = name.strip()
name3 = name2.title()
print(name3)

In [ ]:
name = input("Enter your name:")
name1 = name.strip()

print("your name is",name1.title())

In [ ]:
name = input("What is your name")
print(name)

print("Their name is ", name.strip().title())

### Built-In Functions

##### len()

In [ ]:
#works for strings and lists
# return the length of a given variable as an integer
#__ Len__ attribute of an iterable

name = "Max"
length_of_name = len(name)
print(length_of_name)
print(len(name))


my_list = [1, 2, 3, 4, 5, 6, 7]

print(len(my_list))

##### help()

In [77]:
# gives a tooltip on a python built-in function
help(len)
help(print)
help(max)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [79]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(value, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("We all float down here")
else:
    print("Thats not a float")

False
We all float down here

In [ ]:
name = "Ryan"
print(type(name))
print(isinstance(5, int))

In [ ]:
print(isinstance(5, float))

In [ ]:
num1 = 5
num2 = 2

floored = num1//num2

##### abs()

In [ ]:
# | 5 |
# give us the distance to zero

print(abs(-5))

print(abs(10))


print(abs(5-13))

### Try and Except

In [ ]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday you were {age} and now you are {age + 1}")
except:
    print("Please enter in a number, not text")

In [ ]:
age = int(input("How old are you? "))
print(f"Happy Birthday you were {age} and now you are {age + 1}")

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"